.db-container {
    background-color: #ededed;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 50% 30%;

    .db-cards {
        max-width: 100%;
        margin-left: 10px;

        .db-navCardContainer {
            display: flex;
            justify-content: space-between;
            flex-flow: row nowrap;
            
            a {
              color: #87A294;
              text-decoration: none;
              cursor: pointer;
            }

            .db-navCard {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-basis: 200px;
                flex-grow: 1;
                margin: 20px 10px 10px 10px;
                padding: 20px 0;
                box-shadow: 0px 0px 3px #00000029;
                border-radius: 10px;
  
            }
        }

        .db-logCardContainer {
          display: flex;
          flex-direction: column;
          

          .db-logCard {
              flex-basis: 100%;
              margin: 10px;
              padding: 20px;
              box-shadow: 0px 0px 3px #00000029;
              border-radius: 10px;

            .db-logCardHeader {
              font-family: Helvetica, sans-serif;
              margin-bottom: 10px;

              .db-userImage {
                border-radius: 45px;
                margin-right: 10px;
              }

              .db-userName {
                line-height: 45px;
                text-transform: capitalize;
              }
            }

            .db-logCardStats {

              margin-bottom: 10px;

              .db-fishSpecies {
                font-size: 20px;
                color: #87A294;
                margin-bottom: 10px;
                text-transform: capitalize;
              }

              .db-baitType {
                font-size: 20px;
                color: #87A294;
                margin-bottom: 10px;
                text-transform: capitalize;
              }

              .db-logCardMeta {
                font-size: 15px;
                line-height: 18px;
                margin-bottom: 5px;
              }
            }

          }
        }

    }
}

.db-navigation {
    background: #8AA192;
}
